.card-show {
  height: 250px;
  width: 250px;
  background-size: cover !important;
  background-position: center;
  color: white;
  margin-bottom: 40px;

}

.album-container {
justify-content: space-between;
    padding: 40px;
    display: flex;

    }
.album-details {
justify-content: space-evenly;
    padding-right: 550px;

    }
