.card-show {
  height: 350px;
  width: 350px;
  background-size: cover !important;
  background-position: center;
  color: white;
  margin-bottom: 40px;
 margin-top: 134px;
 margin-left: -135px;
}

.album-container {
  display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
    }

.album-details {
justify-content: space-evenly;

padding-top: 100px;
    }

